<!DOCTYPE html>
<html>

<head>
    <title>charts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Thêm các thẻ CSS của Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Thêm các thẻ JavaScript của Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.knob/1.2.13/jquery.knob.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- Thêm thẻ script của Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <style>
        .canvas-container {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        body {
            background-image: url("/images/banner02.png");
            /* Đường dẫn tới file ảnh nền */
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <script>
    </script>
</head>

<body>
    {{> menu}}
    <div id="chart-wrapper">
        <div class="container canvas-container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="dayChart" style="width:100%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container canvas-container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="monthChart" style="width:100%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container canvas-container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="overollChart" style="width:100%;max-width:700px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $(document).ready(() => {
            // Get the data from the server
            $.get('/charts-data', (data) => {
                // Extract the overolldata
                const overollchartData = [];
                const overollchartLabels = [];
                Object.keys(data).forEach((key) => {
                    overollchartData.push(data[key].average);
                    const date = moment(`${data[key].date} ${data[key].time}`);
                    overollchartLabels.push(date.format("DD/MM/YYYY HH:mm:ss"));
                });

                // Create the chart
                new Chart("overollChart", {
                    type: "line",
                    data: {
                        labels: overollchartLabels,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: overollchartData
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Biểu đồ từ trước đến nay"
                        },
                        legend: { display: false },
                        scales: {
                            yAxes: [{ ticks: { min: 0, max: 200 } }],
                            xAxes: [{ display: false }]
                        }
                    }
                });
                // Extract the daydata
                const daychartData = [];
                const daychartLabels = [];
                const today = moment().format("YYYY-MM-DD"); // Lấy ngày hiện tại

                Object.keys(data).forEach((key) => {
                    const date = moment(`${data[key].date} ${data[key].time}`);
                    const dateStr = date.format("YYYY-MM-DD");
                    if (dateStr === today) { // Chỉ lấy dữ liệu cho ngày hiện tại
                        daychartData.push(data[key].average);
                        daychartLabels.push(date.format("DD/MM/YYYY HH:mm:ss"));
                    }
                });

                // Create the chart
                new Chart("dayChart", {
                    type: "line",
                    data: {
                        labels: daychartLabels,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: daychartData
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Biểu đồ theo ngày"
                        },
                        legend: { display: false },
                        scales: {
                            yAxes: [{ ticks: { min: 0, max: 200 } }],
                            xAxes: [{ display: false }]
                        }
                    }
                });
                // Extract the data for the current month
                const monthchartData = [];
                const monthchartLabels = [];
                Object.keys(data).forEach((key) => {
                    const date = moment(`${data[key].date} ${data[key].time}`);
                    if (date.month() == moment().month()) { // Check if the date is in the current month
                        monthchartData.push(data[key].average);
                        monthchartLabels.push(date.format("DD/MM/YYYY HH:mm:ss"));
                    }
                });

                // Create the chart
                new Chart("monthChart", {
                    type: "line",
                    data: {
                        labels: monthchartLabels,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: monthchartData
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "Biểu đồ theo tháng"
                        },
                        legend: { display: false },
                        scales: {
                            yAxes: [{ ticks: { min: 0, max: 200 } }],
                            xAxes: [{ display: false }]
                        }
                    }
                });
            });
        });
    </script>
</body>

</html>
