<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng ký</title>
  <link rel="stylesheet" href="/css/dangky.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <section>
    <div class="img-bg">
      <img src="/images/banner02.png" alt="Hình Ảnh Minh Họa">
    </div>
    <div class="noi-dung">
      <div class="form">
        <h2>Trang Đăng Ký</h2>

        <form method="POST" action="/dangky">
          <div class="input-form">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" name="username" id="username" required>
          </div>
          <div class="input-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="input-form">
            <label for="password">Mật Khẩu:</label>
            <input type="password" name="password" id="password" required>
          </div>
          <div class="input-form">
            <label for="confirm-password">Nhập lại mật khẩu:</label>
            <input type="password" name="confirm-password" id="confirm-password" required>
          </div>
          <div class="input-form">
            <input type="submit" value="Đăng Ký">
          </div>
          <div class="input-form">
            <p>Quay lại <a href="/dangnhap">Đăng Nhập</a></p>
          </div>
          {{#if message}}
          <p class="error">{{message}}</p>
          {{/if}}

        </form>
      </div>
    </div>
  </section>
</body>
{{#with "/js/dangky.js"}}
  <script src="{{this}}"></script>
{{/with}}
</html>