<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
	<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
</head>
<body>
	<h1>TRANG ĐĂNG NHẬP</h1>
	<div class="w3layoutscontaineragileits">
		<h2>Login here</h2>
		<form id="login-form" action="#" method="post">
			<input type="text" name="username" placeholder="Tên Đăng Nhập" id="username" required autocomplete="username">
			<input type="password" name="password" placeholder="Mật Khẩu" id="password" required autocomplete="current-password">
			<ul class="agileinfotickwthree">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>Remember me</label>
					<a href="#">Forgot password?</a>
				</li>
			</ul>

			<div class="aitssendbuttonw3ls">
				<input type="submit" value="LOGIN">
				<p>Bạn Chưa Có Tài Khoản? <span>→</span> <a href="/dangky">Đăng Ký</a></p>
				<div class="clear"></div>
			</div>
		</form>
	</div>
</body>
</html>
{{#with "/js/dangnhap.js"}}
<script src="{{this}}"></script>
{{/with}}