<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMap with Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha384-n/2aU0n7wEpGkM2K7fRMvvcnC20yYEY9yRYOrUBKzEocPOpL+Rw5ucpZKjnsEaJx" crossorigin=""/>
    <style>
      #mapid {
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="mapid"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha384-kOjLyQrMq9bfIdW5P5jvHJGoiw7lZt/VWQ/d8Dvou0NcV0L9F9zJc8ZNshofRDJG" crossorigin=""></script>
    <script>
      var mymap = L.map('mapid').setView([10.8231, 106.6297], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
      }).addTo(mymap);
      L.marker([10.8231, 106.6297]).addTo(mymap);
    </script>
  </body>
</html>
